
.card{
  width: 19rem;
  margin-left: 8rem;
  padding: 2px;
  border:solid 1 px black;
  margin-top: 4rem;
  height: 30rem;
}
.card .card-footer:last-child {
  margin-top: 3rem;
}
img.card-img-top {
  min-height: 17rem;
}

.fa-plus:before {
  color: white;
}
.fa-minus:before {
  color: white;
}

#reviewsAndFormContainer{
  margin-top: 3rem;
}

