/* style={{ width: '19rem', marginLeft: '8rem',padding:'2px', border:'solid 1 px black'}} */
.card{
  width: 19rem;
  margin-left: 8rem;
  padding: 2px;
  border:solid 1 px black;
  margin-top: 4rem;
}