
.row .view{
  height:35vh!important;
}
/* .root.container.controls-top{
  margin-top: 10rem;
} */
.fa-chevron-right:before {
  content: "\f054";
  font-size: 3rem;
}
.fa-chevron-left:before {
  content: "\f053";
  font-size: 3rem;
}



.carousel carousel-multi-item
{
  margin-top: 10rem;
}

.carousel {
  position: relative;
  margin-top: 5rem;
}


