/* to make the icons on the left side */
i.fa.fa-user.prefix {
  left: 0;
}

i.fa.fa-pencil-alt.prefix {
  left: 0;
}
/* d-block font-weight-bold name */
/* test */
body {
  background: #eee
}

/* user image */
.rounded-circle{
  width: 6rem;
  height: 6rem;
}
.date {
  font-size: 11px
}

.comment-text {
  font-size: 20px
}

.fs-12 {
  font-size: 12px
}

.shadow-none {
  box-shadow: none
}

.name {
  color: #007bff;
  font-size: 25px;
}

.cursor:hover {
  color: blue
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}


/* review form */
#reviewFormContainer{
  margin-top:10rem;
}

#reviewForm{
  width:25rem;
}

#reviewsCol
{
  width: 50%;
}

#formCol{
  width:30%;
}

.container.mt-5 {
  width: 58rem;
  padding:0;
  margin-left:0;
  margin-right: 0;
}

.col-md-6 {
  position: absolute;
  left: 80%;
  transform: translateX(-100%);
}


.reviewContainer {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background: #333;
}
.nameReviewer {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 73px;
}

.d-flex.flex-column.justify-content-start.ml-2 {
  margin-top: 1.5rem;
}

span.date.text-black-50 {
  position: absolute;
  left: 90%;
  transform: translateX(-100%);
}


.media.mt-4.px-1 {
  width: 37rem;
}


.card-header.border-0.font-weight-bold.d-flex.justify-content-between {
  width: 39rem;
}

.mb-5, .my-5 {
  margin: 0!important;
  margin-left: 54px!important;
  position: relative;
}


.media-body {
  text-align: justify;
  margin-left: 2rem;
}

.reviewDate
{
  font-size: 12px;
  font-weight: 100;
  position: absolute;
  left: 100%;
  top: 83%;
  transform: translateX(-76%);
  width: 7rem;
}

.mt-4, .my-4 {
  margin-bottom: 1rem;
}

.card-header.border-0.font-weight-bold.d-flex.justify-content-between {
  height: 1rem;
  padding: 0;
}

p.reviewComment {
  overflow-wrap: anywhere;
  width: 23rem;
}