#searchForm
{
  width: 35rem;
  margin-top: 3rem;
  margin-left: 30rem;
  margin-bottom: 8rem;
  display: inline-block;
}

#searchBox{
  width:22rem;
  display: inline;
}

#searchBtn{
  display: inline;
  height: 2.3rem;
  padding: 0rem;
  width: 5rem;
  border-radius: 0.4rem;
 background-color:  #1cc5dc!important;
}

#searchButton{
background-color: #1cc5dc;
color: white;
border-color: #1cc5dc
;
}