img.d-block.w-100 {
  height: 33rem;
}

.viewSlide{
  
  height: 80vh!important;
}

/* for the size of the left , right icon sliders */
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
  width: 7rem;
  height: 7rem;
}
