@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&family=Signika:wght@300&display=swap" );
/* Nav component */
.mr-auto{
  margin-left:25rem;
}

/* link components */
a.nav-link {
  padding: 0.5rem;
  margin-left: 4rem;
  
}
.nav-link {
  
  transition: .35s;
  /* color: #890596; */
  font-weight: bold;
}
/* log in , out buttons*/

#logIn {
  margin-left: 18rem;
  margin-top: 0;
  height: 2.6rem;
  margin-bottom: 0;
  color: white!important;
  font-weight: bold;
}


#logOut {
  margin-left: 10rem;
  margin-top: 0;
  height: 2.6rem;
  margin-bottom: 0;
  color: white!important;
  font-weight: bold;
}

#logIn:hover , #logOut:hover
{
  background-color: #1cc5dc!important;
}
/*  */

/* for the mdb header */
.view{
  height:85vh!important;
}

/* for the navigation bar  */
nav.navbar-dark.fixed-top.scrolling-navbar.navbar.navbar-expand-md {
  background-color: #00000079;
 
}

/* this to make the text clearer on the panel  */
#textContainer{
  background-color: rgba(0, 0, 0, 0.274);
  width:100%;
  height: 100%;
  margin-top:4rem;
  
}

#text{
  margin-top: 7rem;
}

#panel:hover {
  cursor:pointer;
}
#textContainer #text h2
{
  font-weight: bold;
}
#textContainer #text p
{
  font-family: 'Merriweather', serif;
}
/* .black {
  background-color: #838383 !important;
} */
.nav-item .btn-primary.dropdown-toggle {
  background-color:#1cc5dc !important;
  font-weight: bold;
  font-size: 14px;
  margin-top: -.02rem;
  
}
.dropdown .dropdown-toggle 
{
  margin-left: 2rem;
}

.nav-item.dropdown {
  margin-left: 2rem;
}

img{
  width: 187px;
}
#textContainer #text p {
  font-size: 27px;
  margin-top: 162px;
}


li#afterLogo {
  margin-left: 19rem;
}

img#logoSite {
  width: 8rem;
}

nav.navbar-dark.fixed-top.scrolling-navbar.navbar.navbar-expand-md {
  height: 4rem;
}